<div class="text-center">
  <div class="position-relative d-inline-block">
    <%= image_tag(ActiveStorage::Blob.find_by(key: "4gnf2srkaiwt1a9qjb7e3rwr0gx7").url, height: 400, class: "img-fluid") %>
    <div class="position-absolute top-50 start-50 translate-middle" style="width: 45%;">
      <%= link_to "Télécharger document", "new_lecture_path", class: "btn btn-outline-light w-100  py-4 fs-2", style: "background-color: transparent; border-width: 3px;" %>
    </div>
  </div>
</div>

<%= if @categories.any? %>
    <div class="container my-5">
        <div class="row">
        <% @categories.each do |category| %>
            <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body d-flex flex-column">
                <h5 class="card-title"><%= category.name %></h5>
                <p class="card-text"><%= truncate(category.description, length: 100) %></p>
                <div class="mt-auto">
                    <%= link_to "Voir les documents", category_path(category), class: "btn btn-primary" %>
                </div>
                </div>
            </div>
            </div>
        <% end %>
        </div>
    </div>
<% end %>